* {margin: 0; padding: 0;}
body,html {height: 100vh;width: 100vw;overflow: hidden;}
canvas {
	width: 450px;
	height: 400px;
	margin: 10px;
	border: 1px solid rgba(0, 0, 200, 0.5);
	border-radius: 10px;
	box-shadow: inset 2px 2px 4px rgba(200, 200, 200, 0.2), inset -2px -2px
		4px rgba(0, 0, 200, 0.2);
	background-size: 100px auto, 200% auto;
	background-position: 10px 10px, 20% 0;
	background-repeat: no-repeat;
	background-color: rgba(100, 100, 200, 0.1);
	opacity: 0;
}
canvas {
	width: 100%;
	height: 100%;
	margin: 0;
	border: none;
	border-radius: 0;
	background-size: 100px auto, contain;
	background-position: 10px 10px, center;
	box-shadow: none;
	background-color: transparent;
}
#CRCharacter {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-grow: 1;
	flex-shrink: 1;
	width: 100%;
	overflow: hidden;
	box-shadow:inset 2px 2px 4px rgba(200, 200, 200, 0.2), inset -2px -2px 4px rgba(0, 0, 200, 0.2);
	background-color: rgba(100, 100, 200, 0.1);
}
#CRCharacter.desktop{
	box-shadow: none;
	background-color: transparent;
}
#CRCharacter .chara_bg{
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: black;
	background-blend-mode: unset;
	height: 50%;
}
#CRCharacter .chara_bg:nth-of-type(2){background-position: center bottom;}
#CRCharacter .chara_bg:nth-of-type(3){background-position: center top;top: 50%;}
#CRCharacter .chara_bg:nth-of-type(2){background-image: url("assets/bg/common_Bg_top.png");}
#CRCharacter .chara_bg:nth-of-type(3){background-image: url("assets/bg/common_Bg_bottom.png");}
#CRCharacter .chara_bg.rarity7:nth-of-type(2){background-image: url("assets/bg/common_bg_rarity7_top.png");}
#CRCharacter .chara_bg.rarity7:nth-of-type(3){background-image: url("assets/bg/common_bg_rarity7_bottom.png");}
#CRCharacter .chara_bg.rarity8:nth-of-type(2){background-image: url("assets/bg/common_bg_rarity8_top.png");}
#CRCharacter .chara_bg.rarity8:nth-of-type(3){background-image: url("assets/bg/common_bg_rarity8_bottom.png");}
#CRCharacter .chara_bg.rarity9:nth-of-type(2){background-image: url("assets/bg/common_bg_rarity9_top.png");}
#CRCharacter .chara_bg.rarity9:nth-of-type(3){background-image: url("assets/bg/common_bg_rarity9_bottom.png");}

.option .chara div[data='']{background-image:none;}
.option .chara div[data='001']{background-image: url(assets/icon/web_100113601.png);}
.option .chara div[data='002']{background-image: url(assets/icon/web_100216601.png);}
.option .chara div[data='005']{background-image: url(assets/icon/web_200502501.png);}
.option .chara div[data='006']{background-image: url(assets/icon/web_400601701.png);}
.option .chara div[data='043']{background-image: url(assets/icon/web_104327801.png);}
.option .chara div[data='052']{background-image: url(assets/icon/web_305224701.png);}
.option .chara div[data='066']{background-image: url(assets/icon/web_106618801.png);}
.option .chara div[data='108']{background-image: url(assets/icon/web_110801401.png);}
.option .chara div[data='119']{background-image: url(assets/icon/web_111901501.png);}
.option .chara div[data='139']{background-image: url(assets/icon/web_213901501.png);}
.option .chara div[data='140']{background-image: url(assets/icon/web_214001501.png);}
.option .chara div[data='164']{background-image: url(assets/icon/web_216401601.png);}
.option .chara div[data='188']{background-image: url(assets/icon/web_118801601.png);}
.option .chara div[data='206']{background-image: url(assets/icon/web_420601701.png);}
.option .chara div[data='207']{background-image: url(assets/icon/web_420701701.png);}
.option .chara div[data='900']{background-image: url(assets/icon/web_190001501.png);}

.option .chara div[data='003']{background-image: url(assets/icon/web_100301301.png);}
.option .chara div[data='004']{background-image: url(assets/icon/web_100402301.png);}
.option .chara div[data='007']{background-image: url(assets/icon/web_100701301.png);}
.option .chara div[data='012']{background-image: url(assets/icon/web_101201401.png);}
.option .chara div[data='020']{background-image: url(assets/icon/web_102001301.png);}
.option .chara div[data='036']{background-image: url(assets/icon/web_103601301.png);}
.option .chara div[data='110']{background-image: url(assets/icon/web_111001301.png);}
.option .chara div[data='129']{background-image: url(assets/icon/web_112901601.png);}

.menu{position: absolute;width: 100vw;top: 0;left: 0;transition-duration: 2s;display:flex;flex-direction: column;}
.menu>div{z-index:1;}
.menu>div:not(.hideoption){height: 90vh;display: flex;flex-direction: column;}
.menu.hide{top: -90vh;}
.menu.hidehalf{top: -35vh;}
.menu:before{
	content:'';
	width: 100%;
	height: 100%;
	display:block;
	position:absolute;
	top:0;
	left:0;
	border-style:solid;
	border-color: transparent;
	border-width:32px 55px 26px 15px;
	-webkit-border-image:url('assets/frame.png') 63 110 51 30 stretch;
	border-image:url('assets/frame.png') 63 110 51 30 fill stretch;
	box-sizing:border-box;
}

.option{margin: 10px;overflow: auto;flex: 1;flex-basis: 40%;}

.option .chara>div,
#characterList>div{
	width: 15vw;
	height: 15vw;
	margin-bottom: 10px;
	margin-right: 10px;
}
.option .chara{display: flex;flex-wrap: wrap;}
.option .chara>div{
	flex-grow: 0;
	background-repeat:no-repeat;
	background-size:contain;
	background-position: center;
	text-indent: -99px;
	filter: grayscale(100) contrast(1);
	transition-duration: .2s;
}
.option .chara div:hover{filter: grayscale(0) contrast(2);}
.option .chara div.active{filter: grayscale(0) contrast(1);}
.option .chara div:hover{filter: grayscale(0) contrast(2) drop-shadow(5px 5px 5px #ccc);}

#characterList {
	margin: 10px;overflow: auto;flex: 1;flex-basis: 60%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
}
#characterList>div {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;
	flex-shrink: 0;
	position: relative;
	transition-duration: .3s;
}
#characterList>div:hover:after{
	content:'';
	position: absolute;
	top: 0;
	left: 5%;
	right: 0;
	bottom: 0;
	height: 90%;
	width: 90%;
	border-radius: 20%;
	background: radial-gradient(circle, rgba(255,255,255,0.4) 0%, transparent 100%);
}
#characterList>div:active:after{
	content:'';
	position: absolute;
	top: 0;
	left: 5%;
	right: 0;
	bottom: 0;
	height: 90%;
	width: 90%;
	border-radius: 20%;
	background: radial-gradient(circle, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.1) 100%);
}
#characterList .active{
	background-position: center top;
}
#characterList .active:after{
	content:'';
	position: absolute;
	top: 0;
	left: 5%;
	right: 0;
	bottom: 0;
	height: 90%;
	width: 90%;
	border-radius: 20%;
	background: radial-gradient(circle, rgba(255,255,255,0.4) 40%, transparent 100%);
}
#CRCharacter>div{
	width: 100%;
	height: 100%;
	position: relative;
}
#CRCharacter>div>div{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-size: 1734px 1644px;
	background-position: 40% 10%;
	background-color:lightgray;
	background-blend-mode: overlay;
}
#CRCharacter>div[element='1']>div{
	background-color: PeachPuff;
}
#CRCharacter>div[element='2']>div{
	background-color: #ccffcc;
}
#CRCharacter>div[element='3']>div{
	background-color: #b3d9ff;
}
.hideoption{display: flex;flex-wrap: wrap;justify-content: space-around;}
.hideoption>div{padding: 5px 10px;border: 1px solid white;margin: 5px 0 10px;border-radius: 0 0 10px 0;color: white;}

/*.option .chara>div{border: 1px solid red;}
#characterList>div{border: 1px solid blue;}*/